---
import Navbar from "../components/Navbar.astro";
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Tiago Neto</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    </head>
    <body>
        <Navbar />
        <div class="content">
            <slot /> <!-- Content is injected here -->
        </div>
    </body>
</html>

<style is:global>
    *{  
        padding: 0;
        margin: 0;
    }
    body{
        background: black;
        position: relative;
    }
    :root{
        --color-primary: #111111;
        --color-secondary: #1e1e1e;
        --color-tertiary: #3c3c3c;
        
        --text-primary: white;
        --text-secondary: gold;

        --spacer: 1em;
        --spacer-md: calc(var(--spacer)*2);
    }
    h1,h2,h3,h4,p{
        color: var(--text-primary);
    }
    @media only screen and (min-width: 576px){
        .content{
            margin-left: 120px;
        }
    }
</style>